<%- include("./partials/head") %> 
<body>
	<%- include("./partials/header") %> 
	<form action="/admin">
		<div class="container">
			<div class="row">
				<div class="col-6 mx-auto">
					<div class="card">
						<div class="card-body">
							<div class="mb-3">
								<label for="user" class="form-label">Nombre</label>
								<input type="text" class="form-control" name="user" id="user" aria-describedby="emailHelp">
								<button type="submit" class="btn btn-primary">Enviar</button>
							  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
	  </form>
	<%- include("./partials/footer") %> 
</body>
</html>